
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>            
    <div id="result" >

    </div>
    <button onclick="beginTest()" id="btn">Teste Başla</button>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/ViewScripts/Home.js"></script>
</body>
</html>
